name: Test Find Max
on: [push]
jobs:
  automated_test:
    name: Test Find Max
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Test Find Max
        run: python testfindmax.py
